
.dropdown_data_window {
    background-color: #2d3748;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}
/* message badge */
.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: relative;
	left: -8px;
	top: -8px;
}

.resultDisplayNotification {
	height: auto;
    color: #1485BD;
    padding-bottom: 7px;
	top: 16px;
	
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}

/* search */
.resultDisplay a {
	float: none;
	top: 20px;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchProfilePic img {
	height: 40px;
	border-radius: 30px;
	margin: 1px 15px 0 2px;
	float: left;
	
}

.liveSearchText {
	background-color: transparent;
	color: #1E96CA;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}


#search_hr {
	margin-bottom: 0px;
}